<h2>New department</h2>

<%= render "form.html", changeset: @changeset,
                        action: court_department_path(@conn, :create, @court_id) %>

<%#= link "Back", to: court_department_path(@conn, :index, @court_id) %>
