<h2>Show court</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @court.name %>
  </li>

  <li>
    <strong>City:</strong>
    <%= @court.city %>
  </li>

  <li>
    <strong>Street:</strong>
    <%= @court.street %>
  </li>

  <li>
    <strong>Zip:</strong>
    <%= @court.zip %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @court.phone %>
  </li>

</ul>

<%= link "Edit", to: court_path(@conn, :edit, @court) %>
<%= link "Back", to: court_path(@conn, :index) %>
