<h2><% gettext("Edit Phone") %></h2>

<%= render "form.html", changeset: @changeset, conn: @conn, client_id: @client_id,
                        action: client_phone_path(@conn, :update, @client_id, @phone) %>
