<h2>Edit case</h2>

<%= render "form.html", changeset: @changeset, clients: @clients, departments: @departments, kinds: @kinds, conn: @conn,
                        action: case_path(@conn, :update, @case) %>
