<h2>New case</h2>

<%= render "form.html", changeset: @changeset, clients: @clients, departments: @departments, kinds: @kinds, conn: @conn,
                        action: case_path(@conn, :create) %>

<%= link "Back", to: case_path(@conn, :index) %>
